GMAIL_USER=your-gmail@gmail.com
GMAIL_PASS=your-gmail-app-password
C R M _ A P I _ U R L = h t t p s : / / i n w o . c r m c o r e . m e / a p i / l e a d _ m a n a g e m e n t / a p i / a f f i l i a t e s  
 C R M _ A P I _ T O K E N = A F F _ 1 _ 9 2 c b c 1 b c 7 6 2 8 4 e 1 9 b 7 1 1 b a b 2 2 5 8 7 d 7 5 f  