GMAIL_USER=your-gmail@gmail.com
GMAIL_PASS=your-gmail-app-password
CRM_API_URL=https://inwo.crmcore.me/api/lead_management/api/affiliates
CRM_API_TOKEN=AFF_1_92cbc1bc76284e19b711bab22587d75f
BLOB_STORE_ID="your_blob_store_id"
BLOB_READ_WRITE_TOKEN="your_blob_token"
VITE_TURNSTILE_SITE_KEY=0x4AAAAAAEz2IqiQUH0ZVVPJ
TURNSTILE_SECRET_KEY=0x4AAAAAAEz2IqiQUH0ZVVPJ